@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  line-height: normal;
  font-weight: normal;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
